<h1>Custom Validators In Angular-8</h1>
<form [formGroup]="form"(ngSubmit)="submit()">
  <div class="form-group">
    <label for="username">Username</label>
    <input
      formControName="username"
      id="username"
      type="text"
      class="form-control">

      <div *ngIf="f.username.touched && f.username.invalid" class="alert alert-danger">
        <div *ngIf="f.username.errors.required">Username is required.</div>
        <div *ngIf="f.username.errors.minlength">Username should be 3 character.</div>
        <div *ngIf="f.username.errors.cannotContainSpace">Username can not contain space.</div>
     </div>
  </div>

  <div class="form-group">
    <label for="password">password</label>
    <input
        formControlName="password"
        id="password"
        type="password"
        class="form-control">
      <div *ngIf="f.password.touched && f.password.invalid" class="alert alert-danger">
        <div *ngIf="f.password.errors.required">password is required.</div>
      </div>
  </div>
<button class="btn btn-primary" type="submit">Submit</button>
</form>

<router-outlet></router-outlet>
